* {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

body {
	width: 100%;
	height: 100%;
	background: #010B1D;
}

/* 中间大地图 */
#maps {
	position: absolute !important;
	left: 0;
	top: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.head {
	width: 100%;
	height: 82px;
	line-height: 82px;
	text-align: center;
	color: #FFFFFF;
	font-size: 40px;
	font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
	font-weight: bold;
	background: url(../static/t1.png) center no-repeat;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 4;
}
.head-deta{
	position: absolute;
	top: 55px;
	left: 0;
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding: 0 40px;
	box-sizing: border-box;
	z-index: 4;
	font-size: 16px;
	font-weight: 400;
	color: #B4CCFF;
}
.head-deta .lt{
	float: left;
}
.head-deta .rt{
	float: right;
}
.head-deta .head-btn{
	width: 50px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #C9DBFF;
	font-size: 14px;
	box-shadow: 0px 1px 16px 0px #005CA0 inset;
	border-radius: 4px;
	border: 1px solid #182DC7;
	box-sizing: border-box;
	margin-left: 30px;
	cursor: pointer;
}

.lt-box {
	width: 480px;
	height: 100vh;
	padding-top: 102px;
	padding-left: 40px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}

.sub-head {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-indent: 26px;
	margin: 10px 0;
	display: flex;
	position: relative;
}

.sub-head>img {
	width: 9px;
	height: 14px;
	position: absolute;
	left: 0;
	top: 8px;
}

.sub-head p {
	color: #FFFFFF;
	font-size: 24px;
	font-family: MicrosoftYaHei;
	letter-spacing: 2px;
}

.sub-head .sub-rt {
	flex: 1;
	text-align: right;
	color: #FFFFFF;
	font-size: 16px;
	font-family: TRENDS;
	letter-spacing: 2px;
	margin-left: 15px;
	border-bottom: 2px solid #35A0C9;
	padding-right: 40px;
	box-sizing: border-box;
	position: relative;
}

.sub-rt img {
	position: absolute;
	right: 3px;
	bottom: 8px;
	width: 30px;
	height: 13px;
}

.sub-rt button {
	width: 78px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 15px;
	color: #FFFFFF;
	background-color: #182DC7;
	font-size: 14px;
	font-family: MicrosoftYaHei;
	letter-spacing: 1px;
	padding: 0;
	position: absolute;
	right: 0;
	bottom: 3px;
}

.lt-top {
	width: 100%;
	display: flex;
	justify-content: center;
	color: #FFFFFF;
	font-size: 28px;
	font-family: TRENDS;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 10px;
}

.lt-img {
	width: 182px;
	height: 182px;
	line-height: 132px;
	text-align: center;
	color: #FFFFFF;
	font-size: 28px;
	font-family: TRENDS;
	letter-spacing: 2px;
	background: url(../static/h12.png) no-repeat;
	background-size: 100% 100%;
	padding: 25px;
	box-sizing: border-box;
	margin: 20px 20px;
}

.lt-in {
	flex: 1;
	overflow: hidden;
}

.item {
	height: 40px;
	line-height: 40px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px dashed #F1A806;
}

.item li {
	flex: 1;
	color: #FFFFFF;
	font-size: 14px;
	font-family: MicrosoftYaHei;
	font-weight: 500;
	color: rgba(184, 196, 226, 1);
	letter-spacing: 1px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.item li:nth-child(2) {
	text-align: right !important;
}

.lt-btm {
	width: 100%;
	height: 40px;
	color: #FFFFFF;
	font-size: 16px;
	font-family: MicrosoftYaHei;
	letter-spacing: 1px;
	padding: 10px 0;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;

}

.lt-btm p {
	height: 18px;
	line-height: 18px;
}

.lt-btm img {
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: top;
}

.rt-box {
	width: 480px;
	height: 100vh;
	padding-top: 102px;
	padding-right: 40px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}

.rt-top {
	width: 100%;
	height: 100px;
	margin: 15px 0;
	background: rgba(5, 184, 255, 0.14);
	display: flex;
}

.rt-top div {
	flex: 1;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	box-sizing: border-box;
	position: relative;
}

.rt-top>div:nth-child(2)::after {
	position: absolute;
	top: 20px;
	left: 0px;
	width: 1px;
	height: 60px;
	content: "";
	background-color: #35A0C9;
}

.rt-top>div:nth-child(2)::before {
	position: absolute;
	top: 20px;
	right: 0px;
	width: 1px;
	height: 60px;
	content: "";
	background-color: #35A0C9;
}

.rt-top p {
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.main {
	flex: 1;
}

.home-form {
	width: 100%;
	height: 60px;
	line-height: 60px;
}

.home-form .layui-form-item {
	text-align: center;
	margin-bottom: 0;
	margin-top: 10px;
}

.layui-form-checkbox[lay-skin="primary"] {
	height: 30px !important;
	display: inline-block;
}

.layui-form-checkbox[lay-skin=primary] span {
	color: #fff;
}



.bt-box {
	width: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	left: 0;
	bottom: 10px;
	z-index: 2;
}

.bt-item {
	width: 130px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-family: MicrosoftYaHei;
	letter-spacing: 1px;
	box-shadow: 0px 1px 16px 0px #35A0C9 inset;
	border-radius: 4px;
	border: 1px solid #35A0C9;
	margin: 0 10px;
	cursor: pointer;
	position: relative;
}

.item-hide {
	position: absolute;
	left: 0;
	bottom: 44px;
	width: 100%;
	display: none;
}

.item-hide p {
	width: 130px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-family: MicrosoftYaHei;
	letter-spacing: 1px;
	box-shadow: 0px 1px 16px 0px #35A0C9 inset;
	border-radius: 4px;
	border: 1px solid #35A0C9;
	margin-bottom: 2px;
	cursor: pointer;
}

.bt-item:hover .item-hide {
	display: block;
}

.hide-box {
	width: 350px;
	display: none;
}

.hide-top {
	width: 100%;
}

body .drop-demo .layui-layer-title {
	height: 40px;
	color: #fff;
	font-size: 18px;
	font-family: MicrosoftYaHei;
	letter-spacing: 1px;
	background: #000000;
	border: 1px solid #005CA0;
	
}

body .drop-demo .layui-layer-setwin {
	top: 12px;
	right: 10px;
}

.hide-top {
	background: #000000;
	border:1px solid  #005CA0;
	border-top: none;
	box-sizing: border-box;
	
}

.hide-top ul {
	padding: 0 12px;
	box-sizing: border-box;
	overflow: hidden;
}

.hide-top li {
	float: left;
	width: 50%;
	height: 30px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 14px;
	font-family: MicrosoftYaHeiLight;
}

.top_ipt {
	height: 30px;
	line-height: 30px;
	background: #000000;
	border: none;
	color: #fff;
	overflow: hidden;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hide-top li:nth-child(1) {
	width: 100px;
	padding: 0 5px;
	text-align: right;
}

.hide-btm {
	background: #000000;
}

.hide-btm .layui-form {
	border: 1px solid #005CA0;
	border-top: none;
	padding-top: 5px;
	box-sizing: border-box;
}

.hide-tle {
	height: 30px;
	line-height: 30px;
	text-indent: 20px;
	color: #fff;
	font-size: 16px;
	font-family: MicrosoftYaHei;
	letter-spacing: 1px;
	background: #000000;
	border: 1px solid #005CA0;
	border-top: none;
	box-sizing: border-box;
}

.hide-btm .layui-form-item {
	margin-bottom: 5px;
	padding: 0 12px;
	box-sizing: border-box;
}

.hide-btm .layui-form-label {
	width: 100px;
	height: 16px;
	line-height: 16px;
	padding: 7px 5px;
	color: #fff;
	font-size: 14px !important;
	font-family: MicrosoftYaHeiLight;
}

.hide-btm .layui-input-block {
	min-height: 30px;
}

.hide-btm .layui-input {
	height: 30px;
	line-height: 30px;
	font-size: 14px !important;
	font-family: MicrosoftYaHeiLight;
}

.layui-textarea {
	font-size: 14px;
}

.lay_ipt {
	background-color: #112350;
	color: #fff;
	border: none;
}

.lay_ipt .layui-input {
	background-color: #112350;
	color: #fff;
	border: none;
}

.hide-btm .subbtn {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-family: MicrosoftYaHeiLight;
}
